.filter{
  font-size: 14px!important;
  padding: 25px 28px 25px 28px;
}
.filter a{
  width: 100%;
  color: rgb(170, 170, 170);
  padding: 5px 0 5px 0;
}
.custom-range, select{
  font-size: 14px!important;
  height: 25px!important;
  padding: 1px!important;
}
.custom-range{
  flex: none;
  width: 50%;
}
.range-left{
  margin: 0 1.5px 0 0;
}
.range-right{
  margin: 0 0 0 1.5px;
}
.form-item-slider-margin{
  margin-top: 5px;
}
.form-item-margin{
  margin: 5px 0 5px 0;
}