.filter{
  z-index: 9999;
  padding: 8px 28px 0 48px;
}
.filter a{
  width: 100%;
  color: rgb(170, 170, 170);
  padding: 5px 0 5px 0;
}
.filter a:hover{
  text-decoration: none;
  color: black;
}
.custom-range{
  flex: none;
  width: 50%;
}
.range-left{
  margin: 0 1.5px 0 0;
}
.range-right{
  margin: 0 0 0 1.5px;
}
.form-item-slider-margin{
  margin-top: 5px;
}
.form-item-margin{
  margin: 5px 0 5px 0;
}