body{
  overflow-x: hidden;
}
.card {
  width: 22rem;
  display: block;
  margin: 10px!important;
  margin-right: 0!important;
}
.card .card-image{
  padding: 5px;
  width: 100%;
}
.card .card-image img{
  border-radius: 5px;
  width: 100%;
}
p{
  margin: 0;
}