.navbar{
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
.search{
  width: 400px!important;
}
.input-group-append button{
  outline: none;
}
.input-group-text img{
  height: 24px;
}
.user{
 min-width: 40px;
 min-height: 40px;
 overflow: hidden;
}
.user img{
  width: 40px;
  height: 40px;
  position: relative;
}
.user-btn button{
  width: 80px;
}
.user-btn a:hover{
  text-decoration: none;
}